<sebm-google-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">
    
      <sebm-google-map-marker 
          *ngFor="let m of offices; let i = index"
          (markerClick)="clickedMarker(o.label, i)"
          [latitude]="o.coordinate[0]"
          [longitude]="o.coordinate[1]"
          [label]="o.name"
          [markerDraggable]="false"
          (dragEnd)="markerDragEnd(m, $event)">
          
        <sebm-google-map-info-window>
          <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>
        
      </sebm-google-map-marker>
    </sebm-google-map>